@font-face {
    font-family: "ArcadeFont";
    src: url("font/PressStart2P-Regular.ttf");
    font-size: normal;
    font-weight: 100;
}


body {
    font-family: "ArcadeFont";
   background-image:url(pac-man_background.jpg);
    background-position-y: -150px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    margin-left: 20px;
    background-size:cover;  
}

body.incognito{
    background-image:linear-gradient(black, black),url("pac-man_background.jpg");
    background-blend-mode: saturation;
}

main{
    display:flex;
    
}

.menu-buttons{
    height:500px;
    width:500px;
    /*display:inline;*/
}

h2{
    padding: 20px 0 20px 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.hobbies{
    background-color:#5ca9b3;
}
.interests{
    background-color: #b5171a;
}
.reason{
    background-color:#167148;
}

/*to hide and show content*/
.hide{
    display:none;
}

/*main box output*/
.display{
    display:flex;
    justify-content:center;
    align-items: center;
    height:120%;
    width:70%; 
    margin-left: 2%;
    

}
/*where images and text are shown*/
.output{
    height:100%;
    width:85%;
    margin:10px;
    display:flex;
    
    /*flex-direction: column;
    justify-content:space-between ;
    color:azure;
    padding: 20px;
    line-height: 1.5rem;*/
    
}
.output img{
    width: 100%;
    height:100%;
}
.intro{
    background-image: url("tumbleWeed.gif");
    background-size: cover;
   width: 100%;
   height: 600px;
  
   
}
.slideContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slides {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 10s slider infinite;       
}
.slides img {
    width: 20%;
    height: 600px;
    float: left;
    overflow-y: hidden;
}


/*@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    30% {
        left: -100%;
    }

    40% {
        left: -100%;
    }

    60% {
        left: -200%;
    }

    80% {
        left: -200%;
    }

    95% {
        left: -300%
    }

    100% {
        left: -400%;
    }
}*/
@keyframes slider {
    0% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

.journey{
    position: relative;
    background-size: cover;
     background-image: url(WhirlPool.gif);
 }

figure.whirlPool{
    filter:contrast(70%)
}

.button1{
    font-size: 0;
}
.button2{
    font-size: 0;
}

.button1.reveal{
    font-size: 100px;
    cursor:pointer;  
}
.button2.reveal{
    font-size: 100px;
    cursor:pointer;
}

.button1:hover{
    text-shadow: -4px 5px 5px rgb(0, 0, 0);
}


.button2:hover{
    text-shadow: 4px 5px 5px rgb(0, 0, 0);
}

